/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-padding: 0 50px 100px;
}
.container > h2 {
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;;
}
::-webkit-scrollbar-thumb {
    background-color:seagreen;
    border-radius: 8px;
}
.fw-b {
    font-weight: bold;
}

/* End Global Rules */
/* Start Header */
header {
    position: sticky;
    z-index: 2;
    top: 0;
}
header nav li a {
    transition: 0.3s !important;    
}
header nav li a:hover {
    letter-spacing: 2px;
    transition: 0.3s;
}
@media (min-width: 576px) {
.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
    display: flex!important;
    flex-basis: auto;
}
}
@media (min-width: 576px) {
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
}
#nav {
    transition: .5s;
}
/* End Header */
/* Start Section */
section {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    position: relative;
}
section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: fading infinite linear 2s alternate-reverse;
}
section::before {
    content: "";
    position: absolute;
    background-image: url(../images/hady.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 47%;
    z-index: 1;
    width: 53%;
    height: 100%;
}
@media (max-width: 980px) {
    section::before {
        left: 0;
        width: 100%;
    }
}
section .container {
    padding: var(--main-padding);
    color: white;
    position: relative;
    top: 25%;
    z-index: 1;
}
section ul li i {
    font-size: 25px;
}
section .container h1 {
    font-size: 40px;
    font-weight: bold;
}
section .container .t {
    font-size: 25px;
    font-weight: bold;
}
@media (min-width: 769px) {
    section .container .t {
        font-size: 25px;
        font-weight: bold;
        width: 0;
        /* border-right: 1px solid white; */
        white-space: nowrap;
        animation: typewriter 2s 2s steps(49) both;
        overflow: hidden;
    }
}
/* End Section */
/* Start Services */
.services {
    margin-top: 100px;
    overflow: hidden;
}
.services .container {
    padding: var(--main-padding);
}
.services .row i {
    font-size: 6em;
    color: green;
}
.services h3 {
    font-size: 19px;
    margin: 15px 0px;
}
.services .row div {
    transition: 0.5s;
}
.services .row .col-sm:hover {
    transform: scale(1.4) translateY(-10%);
}
.services .row div p {
    color: #7e7e7e;
}
.services .row div:nth-child(2) p span {
    font-weight: bold;
    font-size: 20px;
    color: green;
}
.col-lg-4 {
    background-color: gainsboro;
    -webkit-clip-path: polygon(13% 0, 89% 0, 100% 100%, 0% 100%);
    clip-path: polygon(13% 0, 89% 0, 100% 100%, 0% 100%);
    position: relative;
}
.col-lg-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transition: 0.3s;
    height: 5px;
    background-color: green;
}
.col-lg-4::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    transition: 0.3s;
    height: 5px;
    background-color: green;
}
.col-lg-4:hover {
    background-color: gainsboro;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.col-lg-4:hover::before ,
.col-lg-4:hover::after {
    width: 100%;
}
/* End Services */
/* Start Projects */
.projects {
    padding-top: 100px;
    counter-reset: sike;
    overflow: hidden;
}
.projects .container {
    padding: var(--main-padding);
}
.projects .container .gridbox {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px , 1fr));
    gap: 75px;
}

.projects img {
    width: 100%;
    height: 70%;
}
.projects .prjct {
    height: fit-content;
}
.projects .prjct p {
    padding: 10px;
}
.projects .prjct p::before {
    counter-increment: sike;
    margin-right: 10px;
    content: counter(sike);
    font-weight: bold;
    color: white;
    background-color: chartreuse;
    padding: 5px 15px;
    border-radius: 50%;
    animation: animated-1 alternate infinite 2s;
}
.projects .prjct a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}
.projects .prjct ul {
    list-style: none;
}
.projects .prjct ul li::before{
    content: "- ";
}
.prjct a {
    font-style: italic;
}
.btn-light:hover {
    background-color: #cccccc !important;
}
@media (max-width: 500px) {
    .projects .container .gridbox {
        grid-template-columns: repeat(auto-fill,minmax(200px , 1fr));
    }
    .prjct a {
        width: 100% !important;
    }
}
.prjct ul i {
    font-size: 1.5em;
}
.prjct span {
    font-size: .7em;
}
/* End Projects */
/* Start Contact */
.contact {
    padding-top: 100px;
    overflow: hidden;
}
.contact .container {
    padding: var(--main-padding);
}
.contact .container .gridbox {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40% , 1fr));
    gap: 10px;
}
.contact .container i {
    font-size: 70px;
    padding: 10px;
    color: green;
}
.contact .container a {
    color: green;
}
.contact .container .gridbox > .box {
    overflow: hidden;
}
@media (max-width: 600px) {
    .contact .container .gridbox {
        grid-template-columns: repeat(auto-fill,minmax(50% , 1fr));
    }
}
/* End Contact */
@media (max-height: 550px) {
    section {
        height: 140vh;
    }
}
@media (max-width: 400px) {
    footer ul {
        flex-direction: column
    }
}
/* Start Animations */
@keyframes fading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes typewriter {
    from {
        width: 0px;
    }
    to {
        width: 626.73px;
    }
}
@keyframes animated-1 {
    from {
        color: white;
        background-color: cadetblue;
    }
    to {
        background-color: rgb(38, 74, 1);
    }
}
@keyframes animated-2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
@keyframes comingleft {
    from {
        transform: translate(-70%) rotate(45deg);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0%) rotate(0deg);
    }
}
@keyframes comingright {
    from {
        transform: translate(70%) rotate(-45deg);
        opacity: 0;
    }
    to {
        transform: translate(0%) rotate(0deg);
        opacity: 1;
    }
}
@keyframes comingUP {
    from {
        transform: scaleY(1.5) translateY(-25%);
        opacity: 0;
    }
    to {
        transform: scaleY(1) translateY(0%);
        opacity: 1;
    }
}
@keyframes comingDOWN {
    from {
        transform: scaleY(1.5) translateY(20%);
        opacity: 0;
    }
    to {
        transform: scaleY(1) translateY(0%);
        opacity: 1;
    }
}
@keyframes skeww {
    from {     
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    } 
}
/* End Animations */
